.article {
  background-color: $article-background;
  width: 50%;
  height: 100%;
  margin-left: auto;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.article__content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  //padding: 67px 56px 20px;

  @media (max-width: $tablet-width-max) {
    width: 164px;
    margin: 0 auto;
  }

  //@media (max-width: 1200px) {
  //  padding: 67px 8% 20px;
  //}
  //
  //@media (max-width: $tablet-width-max) {
  //  padding: 70px 83px 40px;
  //}
  //
  //@media (max-width: $mobile-width-only) {
  //  padding: 45px 20px 15px;
  //}
}

.article__content time {
  color: $grey;
  font-size: 14px;
  margin: 0 0 10px;
}

.article__content h3 {
  @include font-family-cormorant-garamond;
  font-size: 26px;
  line-height: 130%;
  font-weight: 500;
  margin: 0 0 40px;

  @media (max-width: $mobile-width-only) {
    margin: 0 0 38px;
  }
}
