.blog__list {
  @include resetting-styles-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  @media (max-width: $tablet-width-max) {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding-top: 10px;
  }

  @media (max-width: $mobile-width-only) {
    grid-gap: 39px;
  }
}

.blog__item {
  width: 100%;
  min-height: 300px;
  background-color: $article-background;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 285px auto;
  overflow: hidden;

  @media (max-width: $tablet-width-max) {
    background-size: 50% auto;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 512px;
    padding-top: 256px;
    background-position: top;
    background-size: 100% auto;
  }
}

.blog__item:nth-child(2n) {
  background-position: right;

  @media (max-width: $mobile-width-only) {
    background-position: top;
  }
}

.blog__item:nth-child(2n) .article {
    margin-left: 0;
    margin-right: auto;
}

.blog__item:nth-child(3n) {
  @media (min-width: $desktop-width-min) {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    padding-top: 330px;
    background-position: center;
    background-size: cover;
  }
}

.blog__item:nth-child(3n) .article__content {
  @media (min-width: $desktop-width-min) {
    padding-bottom: 38px;
  }
}

.blog__item_theme_jewellery-care {
  background-image: url("../img/blog-care-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/blog-care-desktop@2x.jpg");
  }
}

.blog__item_theme_power-of-crystals {
  background-image: url("../img/blog-power-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/blog-power-desktop@2x.jpg");
  }
}

.blog__item_theme_aw-19-trends {
  background-image: url("../img/blog-trends-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/blog-trends-desktop@2x.jpg");
  }
}
