.faq__list {
  width: 75.6%;
  margin: 0 auto;
  overflow: hidden;
}

.faq__item {
  position: relative;
  padding: 0;
  overflow: hidden;
  border: 1px solid $brown-ordinary;
  border-bottom: none;
}

.faq__item:last-child {
  border-bottom: 1px solid $brown-ordinary;
}

.faq__item-wrapper {
  position: relative;
  min-height: 112px;
  box-sizing: border-box;
  padding: 44px 50px 44px 38px;
}

.faq__question {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 0 10px 0;
  border: none;
  background-color: transparent;

  font-family: inherit;
  font-size: 18px;
  line-height: 130%;
  color: $text-black;

  cursor: pointer;
  text-align: left;

  @media (max-width: $mobile-width-only) {
    font-size: 16px;
  }
}

.faq__question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 8px;
  font-weight: 500;
  background-image: url("../img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease-out;
}

.faq__answer {
  width: 99.9%;
  height: 0;
  opacity: 0;
  transition: height 0.3s ease-out, padding 0.3s ease-out, border 0.3s ease-out, opacity 0.3s ease-out;
  padding: 0 0 0 10px;
}

.faq__answer_show {
  width: 523px;
  height: auto;
  z-index: 1;
  opacity: 1;
}

.faq__answer p {
  width: auto;
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 130%;
  color: inherit;

  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    max-width: 204px;
  }
}

.faq__active-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 19px;
  background-image: url("../img/icons/arrow-up.svg");
  background-repeat: no-repeat;
  background-position: center;
}
