.field input {
  width: 100%;
  padding: 0 0 8px;
  @include font-family-poppins;
  color: $grey;
  border: none;
  font-size: 14px;
  background-color: inherit;
  cursor: pointer;
}

.field input:hover::placeholder {
  color: $white;
}

.field_ordinary {
  border-bottom: 1px solid black;
}

.field input:focus-visible {
  outline: none;
}
