.field input {
  width: 100%;
  padding: 0 0 8px;
  @include font-family-poppins;
  color: $grey;
  border: none;
  font-size: 14px;
  background-color: inherit;
  cursor: pointer;

  @media (max-width: $tablet-width-max) {
    padding: 0;
  }
}

.field input:hover::placeholder {
  color: $white;
}

.field input:focus {
  box-shadow: inset 0 -6px 10px -3px $brown-ordinary;
}

.field_ordinary {
  border-bottom: 1px solid black;
}

.field input:focus-visible {
  outline: none;
}
