.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 101;
  padding-top: 41px;
}

.modal_opened {
  background-color: rgba($grey, 0.7);
}

.modal__wrapper {
  width: 430px;
  min-height: 586px;
  margin: 0 auto;
  background-image: url("../img/sweet-ice-cream-photography-desktop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-color: $article-background;
  padding: 138px 45px 25px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/sweet-ice-cream-photography-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    width: 442px;
    background-image: url("../img/sweet-ice-cream-photography-tablet.jpg");
    padding: 188px 0 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sweet-ice-cream-photography-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 270px;
    min-height: 470px;
    background-image: url("../img/sweet-ice-cream-photography-mobile.jpg");
    background-size: 100% 84px;
    padding: 121px 0 42px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sweet-ice-cream-photography-mobile@2x.jpg");
    }
  }
}

.modal__close-button {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border:none;
  top: 20px;
  right: 20px;
}

.modal__subtitle {
  @include font-family-cormorant-garamond;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  margin: 0 0 33px;

  @media (max-width: $mobile-width-only) {
    font-size: 24px;
    margin: 0 0 27px;
  }
}

.modal__login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 340px;
  margin: 0 auto;
  padding: 50px 0 0 0;

  @media (max-width: $tablet-width-max) {
    padding: 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0 14px;
  }
}

.modal__form-list {
  @include resetting-styles-list;
}

.modal__button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 24px 0;
  border: none;
  background-color: $brown-ordinary;
  color: $white;
  font-size: 16px;
  line-height: 130%;
  margin: 0 0 14px;
  cursor: pointer;

  @media (max-width: $tablet-width-max) {
    margin: 0 0 13px;
  }
}

.modal__register {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__register p {
  color: $grey;
  font-size: 14px;
  margin: 0 6px 0 0;
}

.modal__list-item {
  margin: 0 0 40px;

  @media (max-width: $tablet-width-max) {
    margin: 0 0 35px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 0 30px;
  }
}

.modal__list-item:last-child {
  margin: 0 0 38px;

  @media (max-width: $mobile-width-only) {
    margin: 0 0 34px;
  }
}
