.page {
  @include font-family-poppins;
  height: 100%;
  font-size: 16px;
  line-height: 130%;
}

.page__body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 320px;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  position: relative;
}

.page__body h2 {
  @include font-family-cormorant-garamond;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  margin: 0;
}

.page__login {
  padding: 80px 0;
}
