.page-container {
  width: 86%;
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: 1280px) {
    width: 90%;
  }

  @media (max-width: $tablet-width-max) {
    width: 88%;
  }

  @media (max-width: $mobile-width-only) {
    width: 91%;
  }
}
