.page {
  @include font-family-poppins;
  height: 100%;
  font-size: 16px;
  line-height: 130%;
}

.page__body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 320px;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  position: relative;
}

.page__body_locked {
  position: fixed;
  width: 100vw;
  overflow-y: hidden;
}

.page__body h2 {
  @include font-family-cormorant-garamond;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  margin: 0;
}

.page__login {
  padding: 20px 0 80px;
}

.page__login .modal {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
