.page-header__top-wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
  padding: 30px 0 19px;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    grid-template-columns: 1fr min-content 1fr;
    padding: 30px 45px 55px;
    row-gap: 40px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 20px 15px 20px;
    row-gap: 30px;
  }
}

.page-header__toggle {
  grid-column-start: 1;
}

.page-header__search {
  grid-column: 1 / 3;

  @media (max-width: $tablet-width-max) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.page-header__logo {
  grid-column:  6/7;
  justify-self: center;

  @media (max-width: $tablet-width-max) {
    grid-column: 2 / 3;
  }
}

.page-header__login {
  grid-column: 10 / 11;
  justify-self: end;

  @media (max-width: $tablet-width-max) {
    grid-column: 1 / 2;
  }
}

.page-header__cart {
  justify-self: end;
  grid-column: span 1 / -1;

  @media (max-width: $tablet-width-max) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
}

.page-header__navigation {
  position: relative;

  @media (max-width: $tablet-width-max) {
    padding: 30px 45px 55px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 20px 15px 55px;
  }
}

.page-header__navigation::before {
  @media (min-width: $desktop-width-min) {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #F6F5F4;
  }
}

//Мобильное меню
.page-header__toggle {
  @media (min-width: $desktop-width-min) {
    display: none;
  }
}

//Реализация при отключенном JS

.page-header__menu_nojs > .page-header__toggle {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__menu > .page-header__logo svg {
  @media (max-width: $tablet-width-max) {
    stroke: $white;
    fill: $white;
  }
}

.page-header__menu > .page-header__cart svg {
  @media (max-width: $tablet-width-max) {
    stroke: $white;
    fill: transparent;
  }
}

.page-header__menu {
  @media (max-width: $tablet-width-max) {
    background-color: $background-menu;
  }
}

.page-header__menu + .page-header__navigation {
  @media (max-width: $tablet-width-max) {
    background-color: $background-menu;
  }
}

.page-header__menu > .page-header__login {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
