.page-main__products-slider {
  padding: 116px 0 0;
  position: relative;

  @media (max-width: $tablet-width-max) {
    padding: 70px 0 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 60px 0 0;
  }
}

.page-main__blog {
  padding: 115px 0 0;

  @media (max-width: $tablet-width-max) {
    padding: 38px 0 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 37px 0 0;
  }
}

.page-main__faq {
  padding: 120px 0 0;

  @media (max-width: $tablet-width-max) {
    padding: 70px 0 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 60px 0 0;
  }
}

.page-main__social {
  padding: 106px 0 133px;

  @media (max-width: $tablet-width-max) {
    padding: 68px 0 80px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 59px 0 69px;
  }
}
