.page-footer {
  background-color: $black;
  min-height: 337px;
  padding: 90px 0 65px;

  @media (max-width: $tablet-width-max) {
    min-height: 446px;
    padding: 53px 0 48px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 53px 0 58px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet-width-max) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 45px;
    column-gap: 63px;
    width: 85%;
  }

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 1fr;
    row-gap: 44px;
    width: 100%;
  }
}

.page-footer__subscription {
  @media (max-width: $tablet-width-max) {
    grid-column: 1 / -1;
  }
}
