.page-header__top-wrapper {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  padding: 30px 0 34px;
  align-items: flex-start;

  @media (max-width: $tablet-width-max) {
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr min-content 1fr;
    padding: 30px 45px 55px;
    row-gap: 40px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 20px 15px 20px;
    row-gap: 24px;
  }
}

.page-header__toggle {
  grid-column-start: 1;
}

.page-header__search {
  grid-column: 1 / 3;
  padding: 13px 0 0 0;

  @media (max-width: $tablet-width-max) {
    padding: 0;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.page-header__logo {
  grid-column:  7/9;
  justify-self: center;

  @media (max-width: $tablet-width-max) {
    grid-column: 2 / 3;
  }
}

.page-header__login {
  grid-column: 13 / 14;
  justify-self: end;
  padding: 13px 0 0 0;

  @media (max-width: $tablet-width-max) {
    grid-column: 1 / 2;
  }
}

.page-header__cart {
  justify-self: end;
  grid-column: span 1 / -1;
  padding: 13px 0 0 0;

  @media (max-width: $tablet-width-max) {
    padding: 0;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
}

.page-header__navigation {
  position: relative;

  @media (max-width: $tablet-width-max) {
    padding: 30px 45px 55px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 25px 15px 55px;
  }
}

.page-header__navigation::before {
  @media (min-width: $desktop-width-min) {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: -20px;
    background-color: $light-pink;
  }
}

//Mobile menu
.page-header__toggle {
  @media (min-width: $desktop-width-min) {
    display: none;
  }
}

//Disabled JS
.page-header__menu_nojs > .page-header__toggle {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__navigation_opened {
  @media (max-width: $tablet-width-max) {
    background-color: $background-menu;
  }
}

.page-header__menu > .page-header__login {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__menu > .page-header__search {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__menu + .page-header__toggle {
  @media (max-width: $tablet-width-max) {
    display: block;
  }
}

.page-header__navigation_closed {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__menu_nojs > .page-header__toggle {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__navigation_opened {
  @media (max-width: $tablet-width-max) {
    background-color: $background-menu;
  }
}

.page-header__menu > .page-header__login {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__menu > .page-header__search {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__menu + .page-header__toggle {
  @media (max-width: $tablet-width-max) {
    display: block;
  }
}

//Close menu mobile

.page-header__navigation_closed {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

//Icons for closed menu
.page-header__menu > .page-header__cart svg {
  @media (max-width: $tablet-width-max) {
    stroke: $text-black;
    fill: $white;
  }
}

.page-header__menu > .page-header__toggle svg {
  stroke: #1d1613;
}

//Icons for opened menu
.page-header__menu_opened > .page-header__toggle svg {
  @media (max-width: $tablet-width-max) {
    stroke: $white;
  }
}

.page-header__menu_opened > .page-header__logo svg {
  @media (max-width: $tablet-width-max) {
    stroke: $white;
    fill: $white;
  }
}

.page-header__menu_opened > .page-header__cart svg {
  @media (max-width: $tablet-width-max) {
    stroke: $white;
    fill: transparent;
  }
}

//Background changed for opened menu

.page-header__menu_opened {
  @media (max-width: $tablet-width-max) {
    background-color: $background-menu;
  }
}

.page-header__menu_opened + .page-header__navigation {
  @media (max-width: $tablet-width-max) {
    background-color: $background-menu;
  }
}

//Disabled for opened menu
.page-header__menu_opened > .page-header__login {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header_opened-menu_view {
  @media (max-width: $tablet-width-max) {
    width: 100%;
    min-height: 100vh;
    background-color: $background-menu;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
