.pagination-list {
  @include resetting-styles-list;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.pagination-list__item {
  margin: 0 12px 0;
}

.pagination-list__item a {
  color: $grey;
}

.pagination-list__item_current a {
  color: $black;
}
