.products-slider__wrapper {
  position: relative;
}

.products-slider__container {
  position: relative;
}

.products-slider__list {
  @include resetting-styles-list;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin: 0 0 49px;

  @media (max-width: 1280px) {
    margin: 0 0 40px;
    justify-content: center;
  }

  @media (max-width: $tablet-width-max) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 27px;
  }
}

.products-slider__pagination-list {
  @include resetting-styles-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.products-slider__pagination-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.products-slider__pagination-button span {
  @include font-family-poppins;
  color: $grey;
  font-size: 16px;
}

.products-slider__pagination-button_active span {
  color: $text-black;
}

.products-slider__control-buttons {
  @include resetting-styles-list;
  width: 100%;
  position: absolute;
  top: -109px;
  display: flex;
  justify-content: space-between;
  z-index: 50;
}

.products-slider__btn {
  width: 35px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 0;
}

.products-slider__btn_left svg {
  transform: rotate(180deg);
}

.products-slider__control-buttons {
  width: 97%;
  position: absolute;
  top: 23%;
  right: 51%;
  transform: translateX(50%);
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width-max) {
    top: 15%;
  }
}
