.product-card a {
  @include font-family-poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__title {
  color: $text-black;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    max-width: 130px;
    text-align: center;
  }
}

.product-card__price {
  color: $text-black;
  font-size: 14px;
  font-weight: 700;
}

.product-card img {
  width: 270px;
  height: 284px;
  object-fit: cover;
  margin: 0 0 17px;

  @media (max-width: 1280px) {
    height: 214px;
    width: 210px;
  }

  @media (max-width: $tablet-width-max) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $mobile-width-only) {
    width: 130px;
    height: 136px;
  }
}
