.site-navigation__list {
  @include resetting-styles-list;
}

.site-navigation_theme_mobile {
  @media (min-width: $desktop-width-min) {
    display: none;
  }

  @media (max-width: $tablet-width-max) {
    margin-bottom: 43px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 0;
  }
}

.site-navigation__list a {
  color: rgba($white, 0.75);
  font-size: 18px;
  line-height: 130%;
  font-weight: 500;
}

.site-navigation__item {
  margin: 0 0 20px;
}

.site-navigation__item:last-child {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}

.site-navigation__list:first-of-type {
  @media (max-width: $mobile-width-only) {
    margin: 0 0 46px 0;
  }
}

.site-navigation__wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 67px;
  padding: 10px 0 0 0;

  @media (max-width: 1115px) {
    column-gap: 10%;
  }

  @media (max-width: $tablet-width-max) {
    padding: 0;
    column-gap: 87px;
  }

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 1fr;
  }
}

.site-navigation_footer_position a {
  font-size: 16px;
  color: $white;
}

.site-navigation_footer_position a:hover {
  color: rgba($white, 0.6);
}
