.slider-list__item {
  display: block;
}

.slider-list__item:last-child {
  margin: 0;
}

.slider__item img {
  @media (max-width: 1280px) {
    height: 214px;
    width: 210px;
  }

  @media (max-width: $tablet-width-max) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $mobile-width-only) {
    width: 130px;
    height: 136px;
    margin: 0 0 8px;
  }
}
