.subscription form {
  min-width: 500px;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid white;

  @media (max-width: 1188px) {
    min-width: 416px;
  }

  @media (max-width: $tablet-width-max) {
    min-width: 560px;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 100%;
  }
}

.subscription .field {
  width: 72%;

  @media (max-width: $mobile-width-only) {
    width: 58%;
  }
}

.subscription__lead {
  @include font-family-cormorant-garamond;
  font-size: 34px;
  color: $white;
  font-weight: bold;
  line-height: 130%;
  margin: 0 0 7px;
  letter-spacing: 0.3px;

  @media (max-width: $mobile-width-only) {
    margin: 0 0 13px;
    max-width: 213px;
  }
}

.subscription__text {
  font-size: 16px;
  line-height: 130%;
  color: $grey;
  margin: 0 0 37px;

  @media (max-width: $mobile-width-only) {
    max-width: 226px;
    margin: 0 0 34px;
  }
}

.subscription button {
  padding: 10px 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  justify-self: flex-end;

  display: inline-flex;
  align-items: center;
}

.subscription button span {
  color: $white;
  font-size: 16px;
  margin-right: 20px;
}


.subscription button span:hover {
  color: $grey;
}
