.subscription form {
  min-width: 500px;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 0 0 8px;

  @media (max-width: 1188px) {
    min-width: 416px;
  }

  @media (max-width: $tablet-width-max) {
    min-width: 560px;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 100%;
    padding: 0 0 4px;
  }
}

.subscription .field {
  width: 72%;

  @media (max-width: $mobile-width-only) {
    width: 58%;
  }
}

.subscription__lead {
  @include font-family-cormorant-garamond;
  font-size: 34px;
  color: $white;
  font-weight: bold;
  line-height: 130%;
  margin: 0 0 7px;
  letter-spacing: 0.3px;

  @media (max-width: $mobile-width-only) {
    margin: 0 0 13px;
    max-width: 213px;
  }
}

.subscription__text {
  font-size: 16px;
  line-height: 130%;
  color: $grey;
  margin: 0 0 45px;

  @media (max-width: $tablet-width-max) {
    margin: 0 0 43px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 226px;
    margin: 0 0 29px;
  }
}

.subscription button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  justify-self: flex-end;

  display: inline-flex;
  align-items: center;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    padding: 8px 0;
  }
}

.subscription button span {
  color: $white;
  font-size: 16px;
  line-height: 130%;
  margin-right: 12px;
}


.subscription button span:hover {
  color: $grey;
}

.subscription button:focus {
  box-shadow: inset 0 -6px 10px -3px $brown-ordinary;
}
