.swiper {
  width: 1170px;
  height: 424px;

  @media (max-width: 1280px) {
    width: 930px;
  }

  @media (max-width: 1024px) {
    height: 409px;
  }

  @media (max-width: $tablet-width-max) {
    width: 678px;
    height: 497px;
  }

  @media (max-width: $mobile-width-only) {
    width: 290px;
    height: 286px;
  }
}

.swiper-wrapper {
  position: relative;
}

.swiper__item div {
  width: 270px;
  height: 346px;

  @media (max-width: 1280px) {
    width: 210px;
    height: 214px;
    background-color: #a89cc8;
  }

  @media (max-width: $tablet-width-max) {
    margin: 0 auto;
    width: 324px;
    height: 340px;
    background-color: green;
  }

  @media (max-width: $mobile-width-only) {
    width: 130px;
    height: 136px;
    background-color: royalblue;
  }
}

.swiper-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}

.swiper-pagination__item {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  text-align: center;
  line-height: 130%;
  font-size: 16px;
  color: $grey;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: $white;
  color: $black;
}
