//Размеры экрана
$mobile-width-only: 767px;
$tablet-width-min: 768px;
$tablet-width-max: 1023px;
$desktop-width-min: 1024px;

//Цвета
$text-black: #1d1613;
$gradient: #564034;
$white: #ffffff;
$grey: #9b9997;
$background-menu: #a87b62;
$brown-ordinary: #a87b62;
$article-background: #F0EAE4;
